script(src="/javascripts/jquery.min.js")
script(src="/javascripts/bootstrap.min.js")
script(src="/javascripts/tether.min.js")
script(src="/javascripts/toolkit.js")
script(src="/javascripts/application.js")
script.
    $(function(){
        if (window.BS&&window.BS.loader&&window.BS.loader.length) {
            while(BS.loader.length){(BS.loader.pop())()}
        }
    })